In [1]:
import pandas as pd

df_final_api=pd.read_parquet(f'../data/processed/df_final_api.parquet')

In [2]:
print(df_final_api.info(memory_usage='deep'))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9649 entries, 0 to 9648
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   uuid                 9649 non-null   object
 1   age                  9649 non-null   int64
 2   gender               9649 non-null   category
 3   dem_has_children     9649 non-null   category
 4   age_group            9649 non-null   category
 5   country_code         9649 non-null   category
 6   rural                9649 non-null   category
 7   dem_education_level  8986 non-null   object
 8   dem_full_time_job    9649 non-null   category
 9   normalized_job_code  5702 non-null   object
 10  awareness            9649 non-null   category
 11  vote                 9649 non-null   category
 12  effect               9649 non-null   category
 13  argumentsfor         9649 non-null   object
 14  argumentsagainst     9649 non-null   object
 15  Country              9649 non-null   object
 16  Job Title            9649 non-null   object
dtypes: category(9), int64(1), object(7)
memory usage: 6.4 MB
None

In [3]:
df_final_api.loc[df_final_api['dem_education_level'].isnull(),'Job Title'].value_counts()

Unemployed or Part time Job or Inactive                    407
Automatic Data Processing Planner                            7
Data Scientist                                               7
Database Manager                                             6
Database Development and Administration Project Manager      6
                                                          ...
Data Processing Mechanic                                     1
Clinical Data Manager                                        1
Survey Data Technician                                       1
Data Typist                                                  1
Data Reviewer                                                1
Name: Job Title, Length: 99, dtype: int64

In [4]:
df_final_api['dem_education_level'].isnull().sum()

663

In [5]:
df_final_api['dem_education_level'].value_counts()

medium    3578
high      3270
low       1815
no         323
Name: dem_education_level, dtype: int64

In [6]:
#selec_columns=df_final_api.columns.tolist()
#df_final_api.drop_duplicates(subset=selec_columns, keep='first')

In [11]:
print(df_final_api.loc[df_final_api['Job Title'].isnull(),'dem_full_time_job'].value_counts())

yes    0
no     0
Name: dem_full_time_job, dtype: int64

In [12]:
df_final_api['Job Title'].isnull().sum()

0

In [13]:
print(df_final_api.loc[df_final_api['Job Title'].isnull(),'Country'].value_counts())

Series([], Name: Country, dtype: int64)

In [14]:
df_final_api.to_parquet('../data/processed/df_final_nulls.parquet')